
@{
    ViewBag.Title = "Progreso";
    Layout = "~/Views/Shared/_Layout_Registro.cshtml";
}

<style>
    .login-block .auth-box {
        margin: 20px auto 0 auto;
        max-width: 600px;
    }

    .btn {
        border-radius: 7px;
        text-transform: initial;
        font-size: 15px;
        padding: 7px 10px;
        cursor: pointer;
    }

    .btn-md {
        line-height: 20px;
    }

    .card .card-block p {
        line-height: 1;
    }

    .card {
        border-radius: 14px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        border: none;
        margin-bottom: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .card-seleccionado {
        box-shadow: 0 1px 20px 0 rgb(69 90 100 / 25%);
    }

    .card-NoSeleccionado {
        box-shadow: 0 1px 20px 0 rgb(69 90 100 / 0%);
    }

    .btn-azul {
        background-color: #448aff;
        background: linear-gradient(310deg,#ffffff,#ffffff);
        border-color: #74a99724;
        color: #8BC34A;
        cursor: pointer;
        -webkit-transition: all ease-in 0.3s;
        transition: all ease-in 0.3s;
        border-radius: 8px;
    }

    .btn-azul:hover {
        background: linear-gradient(310deg,#b1ce69,#b1ce69);
        color: #595959;
    }

    @@media(max-width: 767px) {
        .icono {
            width: 20%;
        }
        .texto {
            width: 55%;
        }
        .boton {
            width: 25%;
        }
    }

</style>

<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                <form class="">
                    <div class="text-center">
                        <img src="~/images/icons/CSB_Mexico.png" alt="logo.png" width="10%" onclick="Redirecionar()">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-center" style="font-size: 23px;">Completa los datos para crear tu cuenta</h3>
                                    <br />
                                </div>
                            </div>
                            <div class="row">
                                @{
                                    if (ViewBag.Email == 1)
                                    {
                                        <div class="col-md-12">
                                            <div class="card card-NoSeleccionado">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="icono col-md-2">
                                                            <img src="~/images/icons/1237439_verificado.png" alt="logo.png" width="100%">
                                                        </div>
                                                        <div class="texto  col-md-7">
                                                           <p>E-mail agregado.</p>
                                                            <p class="Text-gris">@ViewBag.NuevoUsuario.Email.email</p>

                                                        </div>
                                                        <div class="boton col-md-3">
                                                            <button type="button" class="btn btn-azul btn-md btn-block waves-effect waves-light text-center" id="BtnAgregarEmail"> Editar  </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-md-12">
                                            <div class="card card-seleccionado">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="icono col-md-2">
                                                            <img src="~/images/icons/1237439.png" alt="logo.png" width="100%">
                                                        </div>
                                                        <div class="texto col-md-7">
                                                            <p>Agrega tu e-mail.</p>
                                                            <p class="Text-gris">Recibirás información de tu cuenta.</p>
                                                        </div>
                                                        <div class="boton col-md-3">
                                                            <button type="button" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center" id="BtnAgregarEmail"> Agregar  </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    if (ViewBag.persona == 1)
                                    {
                                        <div class="col-md-12">
                                            <div class="card card-NoSeleccionado">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="icono col-md-2">
                                                            <img src="~/images/icons/1611707_verificado.png" alt="logo.png" width="100%">
                                                        </div>
                                                        <div class="texto col-md-7">
                                                            <p>Nombre elegido.</p>
                                                            <p class="Text-gris">@ViewBag.NuevoUsuario.Persona.Nombre @ViewBag.NuevoUsuario.Persona.ApellidoPaterno @ViewBag.NuevoUsuario.Persona.ApellidoMaterno.</p>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <button type="button" class="btn btn-azul btn-md btn-block waves-effect waves-light text-center" id="BtnAgregarNombre"> Editar  </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        if (ViewBag.Email == 1)
                                        {
                                            <div class="col-md-12">
                                                <div class="card card-seleccionado">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="icono col-md-2">
                                                                <img src="~/images/icons/1611707.png" alt="logo.png" width="100%">
                                                            </div>
                                                            <div class="texto col-md-7">
                                                                <p>Elige tu nombre.</p>
                                                                <p class="Text-gris">Cuéntanos cómo quieres que te llamemos.</p>
                                                            </div>
                                                            <div class="boton col-md-3">
                                                                <button type="button" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center" id="BtnAgregarNombre"> Agregar  </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-12">
                                                <div class="card card-NoSeleccionado">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="icono col-md-2">
                                                                <img src="~/images/icons/1611707.png" alt="logo.png" width="100%">
                                                            </div>
                                                            <div class="texto col-md-7">
                                                                <p>Elige tu nombre.</p>
                                                                <p class="Text-gris">Cuéntanos cómo quieres que te llamemos.</p>
                                                            </div>
                                                            <div class="boton col-md-3">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }

                                @{ 
                                    if (ViewBag.persona == 1)
                                    {
                                        <div class="col-md-12">
                                            <div class="card card-seleccionado">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="icono col-md-2">
                                                            <img src="~/images/icons/6146586.png" alt="logo.png" width="100%">
                                                        </div>
                                                        <div class="texto col-md-7">
                                                            <p>Crea tu contraseña.</p>
                                                            <p class="Text-gris">Mantendrás tu cuenta protegida.</p>
                                                        </div>
                                                        <div class="boton col-md-3">
                                                            <button type="button" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center" id="BtnConfigurarCuenta"> Configurar   </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else { 
                                        <div class="col-md-12">
                                            <div class="card card-NoSeleccionado">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="icono col-md-2">
                                                            <img src="~/images/icons/6146586.png" alt="logo.png" width="100%">
                                                        </div>
                                                        <div class="texto col-md-7">
                                                            <p>Crea tu contraseña.</p>
                                                            <p class="Text-gris">Mantendrás tu cuenta protegida.</p>
                                                        </div>
                                                        <div class="boton col-md-3">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </form>
                <!-- end of form -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/assets/js/sweetalert/sweetalert.min.js"></script>
<script>
    $('#BtnAgregarEmail').click(function () {
        window.location.href = '@Url.Action("EmailValidacion", "Registro")';
    });

    $('#BtnAgregarNombre').click(function () {
        window.location.href = '@Url.Action("NombreValidacion", "Registro")';
    });

    $('#BtnConfigurarCuenta').click(function () {
        window.location.href = '@Url.Action("ConfigurarValidacion", "Registro")';
    });
</script>