
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Administracion.cshtml";
}


<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Ordenes de compra  </h5>
                        <p class="m-b-0">Ecommerce San Juan </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Ordenes </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-xl-7 col-md-7">
                            <div class="row">
                                @{
                                    foreach (var Dat in ViewBag.Venta_Listar_Pendietes_Etapa_Total)
                                    {
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-block">
                                                    <div class="row align-items-center text-center">
                                                        <div class="col-8">
                                                            <h4 class="text-c-purple">@Dat.Etapa</h4>
                                                            <h6 class="text-muted m-b-0" style="font-size: 40px;">@Dat.Total</h6>
                                                        </div>
                                                        <div class="col-4 text-right">
                                                            <i class="fa fa-file-text-o f-28"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer bg-c-purple">
                                                    <div class="row align-items-center">
                                                        <div class="col-9">
                                                            <p class="text-white m-b-0"></p>
                                                        </div>
                                                        <div class="col-3 text-right">
                                                            <i class="fa fa-line-chart text-white f-16"></i>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-5">
                            <!-- contenido de grafica  -->
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Grafica:</h5>
                                    <span> Información de etapas  @*<code>.form-control</code> with <code>&lt;input&gt;</code> tag*@</span>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                            <li><i class="fa fa-window-maximize full-card"></i></li>
                                            <li><i class="fa fa-minus minimize-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <canvas id="densityChart" width="600" height="250"></canvas>
                                    </div>
                                </div>
                            </div>
                            <!-- Basic Form Inputs card end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="~/assets/js/jquery/jquery.min.js"></script>
<script>
    $('#IdMenuDashboard').addClass("active");


     $(document).ready(function () {

        var densityCanvas = document.getElementById("densityChart");

        Chart.defaults.global.defaultFontFamily = "Arial, sans-serifapple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif";
        Chart.defaults.global.defaultFontSize = 14;

        var densityData = {
            label: 'Estatus',

            options: {
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        //fontColor: 'black',
                        defaultFontFamily: 'Arial, sans-serifapple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif',
                        fontColor: 'rgb(154, 154, 154)',
                        usePointStyle: true,
                    }
                }
            },


            data: [
                @foreach (var Com in ViewBag.Venta_Listar_Pendietes_Etapa_Total)
                {
                    @Html.Raw(@Com.Total)
                    @Html.Raw(",")
                }
            ],
            backgroundColor: [
                'rgba(88, 2, 47, 0.9)',
                'rgba(63, 194, 162, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(26, 95, 157, 0.9)',
                'rgba(25, 91, 157, 0.9)',

                'rgba(26, 95, 157, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(63, 194, 162, 0.9)',
                'rgba(67, 206, 162, 0.9)',

            ],
            borderColor: [
                'rgba(139, 4, 75, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(26, 95, 157, 0.9)',
                'rgba(25, 91, 157, 0.9)',


                'rgba(26, 95, 157, 0.9)',
                'rgba(28, 101, 158, 0.9)',
                'rgba(34, 116, 158, 0.9)',
                'rgba(37, 126, 159, 0.9)',
                'rgba(44, 145, 159, 0.9)',
                'rgba(49, 158, 160, 0.9)',
                'rgba(50, 160, 160, 0.9)',
                'rgba(54, 169, 161, 0.9)',
                'rgba(63, 195, 162, 0.9)',
                'rgba(63, 194, 162, 0.9)',

            ],
            borderWidth: 1,
            hoverBorderWidth: 0,
            hoverBackgroundColor: [
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
               'rgba(0, 69, 69, 1)',
            ],
        };

        var chartOptions = {
            scales: {
                yAxes: [{
                    barPercentage: 0.5
                }]
            },
            elements: {
                rectangle: {
                    borderSkipped: 'left',
                }
            }
        };

        var barChart = new Chart(densityCanvas, {
            type: 'bar',
            data: {
                labels: [
                @foreach (var Com in ViewBag.Venta_Listar_Pendietes_Etapa_Total)
                {
                    @Html.Raw("'")
                    @Html.Raw(@Com.Etapa)
                    @Html.Raw("'")
                    @Html.Raw(",")
                }
                ],
                datasets: [densityData],
            },
            options: chartOptions
        });
    });


</script>